<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Blood Glucose Tracker", root_path, class:"navbar-brand"%>
   
    
    </div>
  </div>
</nav>